<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
    <div class="container-fluid p-5 mt-5 text-center">
        <form>
            <table >
                <th colspan="2">
                    <h3>LOGIN FORM</h3>
                    <hr>
                </th>
            <tr>
                <th>Email-id</th>
                <td><input type="text"></td>
            </tr>
            <tr>
                <th>Password</th>
                <td><input type="password"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button class="btn btn-dark">Submit</button>
                </td>
            </tr>
            </table>
        </form>
    </div>
    </body>
</html>