.user{
    border-right: 2px solid black;
    display: inline-block;
    margin:40px;
    padding: 20px;
}
input{
    display:block;
    margin-left: 30rem;
}
.container-fluid{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
a{
    margin: 15px;
    text-decoration: none;
    font-family: cursive;
}
