<!-- <div>
<input type="text" (keyup.enter)="passValue($event)">
<app-child [name] ="data"></app-child>
</div>
<div>
<input type="text" (keyup.enter)="addHero($event)">
<app-child [list] = "heroList"></app-child>
</div>
<div>
<input type="text" (keyup.enter)="addValue($event)">
<app-child [hero] = "hero"></app-child>
</div>
<div>
<section>
    <app-child (foodEvent)="afterFoodAdd($event)"></app-child>
</section>
<ul>
<li *ngFor="let food of foods">
{{food}} &nbsp; <button class="btn btn-primary">X</button>
</li>
</ul>
</div> -->
<!----Two way data binding-->
<!-- <div class="m-5 p-4">
<h1>Enter Product Quantity</h1>
<input type="text" #inp />
<button class="btn btn-primary" (click)="addQty(inp.value)">Add quantity</button>
<p><strong>Total Qauntity:</strong>{{inputdata}}</p>
<hr>
<app-twowaydata2 [item]="inputdata"></app-twowaydata2>
</div> -->
<!-- <section>
    <h1 class="container text-center border mt-4">Product Purchase</h1>
    <div *ngFor="let item of cartBucket" class="border text-center">
        <p><strong>Product Details</strong></p>
        <hr>
        <p><strong>Product Name </strong> : {{item.name}}</p>
        <p><strong>Product Qty </strong> : {{item.qty}}</p>
        <p><strong>Product Price</strong> : {{item.price * item.qty}}</p>
    </div>
    
    <aside>
        <h3 class="text-center">Your Bill</h3>
        <hr>
        <section  *ngFor="let item of cartBucket">
        <p><strong>Product Name :</strong>  {{item.name}}</p>
        <p><strong>Product Qty  :</strong>  {{item.qty}}</p>
        <p><strong>Product Price :</strong>  {{item.price}}</p>
       
            <hr>
        </section>
        <p>
            <button class="btn btn-primary">Pay now Rs: {{ calcPrice()}}</button>
        </p>
    </aside>
</section>
<app-product
    *ngFor="let product of info"
    [info]="product" (updateCartEvt)="update($event)">
</app-product>

<div *ngFor="let clients of client">
    {{clients.name}} | {{clients.salary}} | {{clients.Age}}
</div> -->
<h1>My Project</h1>
<hr>
<section id="commitBox">
    <div>
        <label>File Name:</label>
        <input type="text" #dir />    
    </div>
    <div>
        <label>Commit Message:</label>
        <input type="text" #msg />    
    </div>
 <div>
    <button class="btn btn-primary" (click)="updateRepo(dir.value,msg.value)">push changes</button>
 </div>
</section>
<hr>
<ng-template #list let-update1 >
<app-list [item]="update1"></app-list>
</ng-template>
<app-wrapper [newUpdate]="update1" [listTemplate]="list">
    <small>Ng-Studio</small>
</app-wrapper>
<select (change)="uid = sid.value" #sid>
    <option selected disabled>No value selected</option>
    <option [value]="id" *ngFor="let  id of ['Manish','Pramod','Preet','Vishal']">{{id}}</option>
</select>
<hr>
<app-user [userId]="uid"></app-user>


