<div class="container text-center bg-primary">
    <h3>
        <hr>
        Employee Details
        <hr>
    </h3>
</div>
<div class="container bg-light">
    <section>
        <div class="container text-center" *ngFor= "let details of detail">
            <h3 class="text-center">Details
                <hr>
            </h3>
           <p>Name : {{details.name}}</p>
           <p>Age : {{details.age}}</p>
           <p>Details : {{details.details}}</p>
           <p>Salary : {{details.Salary}}</p>
        </div>
    </section>
    </div>
    <div class="container row">
        <div class="col-3 d-flex">
            <p>i am manish</p>
            <p>i am manish</p>
            <p>i am manish</p>
        </div>
        
    </div>
